<!--  <header>
        <!-- Header Start 
        <div class="header-area header_area">
            <div class="main-header">
             <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo 
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                              <a routerLink="/"><img src="assets/acceuilClient/home/img/logo/logo4.png" alt=""></a>
                          </div>
                      </div>
                      <div class="col-xl-10 col-lg-10 col-md-8">
                         <div class="header-left  d-flex f-right align-items-center">
                            <!-- Main-menu 
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a routerLink="/">Acceuil</a></li>
                                        <li><a routerLink="/apropos">qui sommmes nous</a></li>
                                        <li><a routerLink="/offres">Nos Offres</a></li>
                                        <li><a routerLink="/services">Nos Services</a></li>
                                        <li><a routerLink="/contact">Contact</a></li>
                         
                                    </ul>
                                </nav>
                            </div>
                            <!-- left Btn
                            <div class="header-right-btn f-right d-none d-lg-block  ml-30">
                                <a routerLink="/login" class="header-btn">Se connecter</a>
                            </div>
                        </div>
                    </div>             
                    <!-- Mobile Menu 
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End 

</header>-->

 
 <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block" >
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo" >
                        <div class="header__logo">
                        <a routerLink="/">
                            <img src="assets/acceuilClient/home/img/logo/logo4.png" alt="Tunidom" />
                        </a>
                    </div>
                    </div>
                    <div class="header__navbar">
                        <ul id="navigation">
                            <li><a routerLink="/">Acceuil</a></li>
                                        <li><a routerLink="/apropos">qui sommmes nous</a></li>
                                        <li><a routerLink="/offres">Nos Offres</a></li>
                                        <li><a routerLink="/services">Nos Services</a></li>
                                        <li><a routerLink="/contact">Contact</a></li>
                                        <li><a routerLink="/login">Se connecter</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
   
        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                       <a class="logo" routerLink="/">
                            <img src="assets/acceuilClient/home/img/logo/logo4.png" alt="Tunidom" />
                        </a>
                      
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li><a routerLink="/"><i class="fas fa-home"></i>Acceuil</a></li>
                        <li><a routerLink="/apropos"><i class="fas fa-info"></i>qui sommmes nous</a></li>
                                        <li><a routerLink="/offres"><i class="fas fa-bookmark"></i>Nos Offres</a></li>
                                        <li><a routerLink="/services"><i class="fas fa-server"></i>Nos Services</a></li>
                                        <li><a routerLink="/contact"><i class="fas fa-envelope"></i>Contact</a></li>
                                        <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i>Se connecter</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <!-- END HEADER MOBILE -->
        
            


