
<section class="services-section  fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Nos Services</span>
                        <h2>Des services optionnels pour le confort de nos domiciliés</h2>
                    </div> 
                </div>
            </div>
   <main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/acceuilClient/home/img/gallery/dom15.jpg" alt="">
            <div class="card-body">
              <h2>Adresse professionnelle</h2>
              <p class="card-text">Adresse prestigieuse au centre ville de Tunis vous permettre de proumovoir votre entreprise.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/acceuilClient/home/img/gallery/dom12.jpg" alt="">
            <div class="card-body">
              <h2>Courrier papier digitalisé</h2>
              <p class="card-text">Suivez et gérer votre courrier via notre application pour plus de confort.Recevez vos courriers à votre place. </p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/acceuilClient/home/img/gallery/dom9.jpg" alt="">
            <div class="card-body">
              <h2>Sauvegarde de documents</h2>
              <p class="card-text">Tous fatures, vos courriers annsi que vos documents de votre entreprise seront sauvegardés dans notre application.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!--<div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

        </div>
    </section>
    <section class="wantToWork-area section-bg2"  style="background-image:url('../../../assets/acceuilClient/home/img/gallery/section_bg01.png')">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Voulez-vous domicilier votre entreprise?</h2>
                            <p>Rejoignez-nous maintenant et lancez votre entreprise en Tunisie.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <a routerLink="/offres" class="btn w-btn wantToWork-btn mr-20">Domicilier maintenant</a>
                        <a href="#" class="btn2 w-btn wantToWork-btn"><i class="fas fa-phone"></i> (+216) 92 081 406</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
