<footer>
    <div class="footer-wrapper section-bg2 pl-100"  style="background-image:url('assets/acceuilClient/home/img/gallery/footer_bg.png')">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a routerLink="/"><img src="assets/acceuilClient/home/img/logo/loder.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Meilleur Services pour la Domiciliation des entreprises.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Domiciliation</h4>
                                <ul>
                                    <li><a href="#">Adresse professionnelle</a></li>
                                    <li><a href="#">Scan des courriers</a></li>
                                    <li><a href="#">Gestion des documents</a></li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>TUNIDOM</h4>
                                <ul>
                                    <li><a routerLink="/apropos">A propos</a></li>
                                    <li><a routerLink="/offres">Nos offres</a></li>
                                    <li><a routerLink="/services">Nos Services</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contactez-nous</h4>
                                <ul>
                                    <li><a href="#">ilyessamara@gmail.com</a></li>
                                    <li><a href="#">3000, Rue de marseille, Tunis</a></li>
                                    <li class="number"><a href="#">(216) 92 081 406</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container-fluid">
                <div class="footer-border">
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right">
                                <p>
                                  Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Tous droits réservés | <a href="#" target="_blank">Ilyess-Dev</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer>
